---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Blog from '../components/Blog.astro';
import History from '../components/History.astro';
import Team from '../components/Team.astro';
---

<Layout title="Level Up - NF | v3" description="Level Up your business with NF">
	<main>
		<Hero />
		<Blog />
		<History />
		<Team />
	</main>
</Layout>
