---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Blog from '../components/Blog.astro';
import History from '../components/History.astro';
import Career from '../components/Career.astro';
import JobOffers from '../components/JobOffers.astro';
import Team from '../components/Team.astro';
import TeamOverview from '../components/TeamOverview.astro';
---

<Layout title="Level Up - NF | v3" description="Level Up your business with NF">
	<main>
		<Hero />
		<Blog />
		<History />
		<Team />
		<TeamOverview />
		<Career />
		<JobOffers />
	</main>
</Layout>
