---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Blog from '../components/Blog.astro';
import History from '../components/History.astro';
import Career from '../components/Career.astro';
import JobOffers from '../components/JobOffers.astro';
import Team from '../components/Team.astro';
import TeamOverview from '../components/TeamOverview.astro';
import Footer from '../components/Footer.astro';
---

<Layout
	title="Next Level Energy | Nowa Era Efektywności Energetycznej"
	description="Budujemy przyszłość energii odnawialnej w Polsce. Dołącz do elitarnego zespołu Next Level Energy i rozwijaj swoją karierę w nowoczesnym środowisku pracy. Sprawdź nasze projekty i oferty pracy.">
	<main>
		<Hero />
		<Blog />
		<History />
		<Team />
		<TeamOverview />
		<Career />
		<JobOffers />
		<Footer />
	</main>
</Layout>
