---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Blog from '../components/Blog.astro';
---

<Layout title="Level Up - NF | v3" description="Level Up your business with NF">
	<main>
		<Hero />
		<Blog />
	</main>
</Layout>
