---
import LegalLayout from '../layouts/LegalLayout.astro';
---

<LegalLayout title="Regulamin Serwisu">
	<p>Ostatnia aktualizacja: 25 lutego 2026 r.</p>

	<h2>1. Postanowienia ogólne</h2>
	<p>
		Niniejszy regulamin (zwany dalej: "Regulaminem") określa zasady korzystania z serwisu internetowego The Next
		Level Energy (zwanego dalej: "Serwisem").
	</p>
	<p>
		Właścicielem i administratorem Serwisu jest The Next Level sp. z o.o. z siedzibą w Polsce, zarejestrowana pod
		odpowiednimi numerami w Krajowym Rejestrze Sądowym.
	</p>

	<h2>2. Cel serwisu</h2>
	<p>
		Serwis ma charakter informacyjny i służy prezentacji oferty firmy The Next Level Energy w zakresie odnawialnych
		źródeł energii, systemów HVAC oraz rekrutacji współpracowników.
	</p>

	<h2>3. Zasady korzystania z usług elektronicznych</h2>
	<ul>
		<li>Użytkownik ma darmowy dostęp do wszystkich informacji publicznych w serwisie.</li>
		<li>Zabronione jest dostarczanie przez Użytkownika treści o charakterze bezprawnym.</li>
		<li>
			Do poprawnego korzystania z funkcji Serwisu wymagana jest aktualna przeglądarka internetowa oraz obsługa
			plików Cookies zgodnie z naszą <a href="/polityka-prywatnosci">Polityką Prywatności</a>.
		</li>
	</ul>

	<h2>4. Proces rekrutacji (Formularze)</h2>
	<p>
		Przesłanie swojego CV poprzez dedykowany formularz oznacza akceptację regulaminu rekrutacji i zgodę na
		przetwarzanie danych osobowych w celu oceny kandydatury, szczegółowo opisaną w podstronie <a href="/rodo"
			>RODO</a
		>.
	</p>

	<h2>5. Prawa autorskie</h2>
	<p>
		Wszelkie materiały graficzne, tekstowe, kod źródłowy oraz układ Serwisu podlegają ochronie prawnej.
		Wykorzystywanie ich bez uprzedniej zgody Administratora jest kategorycznie zabronione.
	</p>

	<h2>6. Zmiany Regulaminu</h2>
	<p>
		Administrator zastrzega sobie prawo do dokonywania zmian w niniejszym Regulaminie. Oszelkich zmianach
		Użytkownicy zostaną powiadomieni poprzez publikację nowej wersji na tej stronie.
	</p>
</LegalLayout>
