---
import LegalLayout from '../layouts/LegalLayout.astro';
---

<LegalLayout title="Klauzula Informacyjna (RODO)">
	<p>Ostatnia aktualizacja: 25 lutego 2026 r.</p>

	<h2>1. Kto jest Administratorem Twoich Danych Osobowych?</h2>
	<p>
		Zgodnie z wymogami Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 (RODO), Administratorem Twoich
		danych osobowych jest <strong>The Next Level sp. z o.o.</strong> z siedzibą na terytorium Rzeczypospolitej Polskiej,
		która zapewnia odpowiednie środki techniczne służące ochronie danych, zgodnie z najwyższymi standardami w branży OZE
		i technologii.
	</p>

	<h2>2. W jakim celu przetwarzamy Twoje dane?</h2>
	<p>Gromadzimy i przetwarzamy Twoje dane osobowe w następujących celach:</p>
	<ul>
		<li>
			<strong>Rekrutacja:</strong> Analiza dokumentów aplikacyjnych (CV) przekazanych nam przez Ciebie poprzez podstronę
			<a href="/kariera/handlowiec_oze">Kariera</a> (na podstawie zgody, art. 6 ust. 1 lit. a RODO).
		</li>
		<li>
			<strong>Newsletter:</strong> Wysyłanie wiadomości handlowych, branżowych oraz marketingowych, na podstawie zgody
			(art. 6 ust. 1 lit. a RODO), za pośrednictwem dedykowanych formularzy dostarczanych przez serwisy takie jak Make.com
			lub Brevo.
		</li>
		<li>
			<strong>Analityka i Cookies:</strong> Zbieranie danych analitycznych (na wypadek wyraźnej zgody w banerze Cookie),
			służących nam do ulepszania strony i sprawniejszego działania (art. 6 ust. 1 lit. f RODO).
		</li>
	</ul>

	<h2>3. Odbiorcy Danych i Systemy Zewnętrzne</h2>
	<p>
		Aplikując do ról lub na nasz Newsletter, wyrażasz świadomość, że stosujemy bezpieczne platformy partnerskie
		m.in: <strong>Make.com</strong>, systemy dostawców takich jak
		<strong>Google Workspace (Drive, Sheets)</strong>, lub serwery mailingowe (np. <strong>Brevo/MailerLite</strong
		>), wyłącznie na czas trwania relacji celowej oraz zgodnie z restrykcyjnymi zapisami umów powierzenia
		przetwarzania.
	</p>

	<h2>4. Jakie masz Prawa?</h2>
	<p>We wszystkich procesach, w których powierzasz nam swoje dane osobowe, masz zawsze i nieodwołalne prawo do:</p>
	<ul>
		<li>uzyskania <strong>wglądu (dostępu)</strong> do swoich danych,</li>
		<li>ich <strong>sprostowania</strong> w przypadku błędu,</li>
		<li>żądania ich <strong>usunięcia (bycia zapomnianym)</strong>,</li>
		<li>
			ograniczenia ich przetwarzania oraz, jeśli ma to zastosowanie, przeniesienia Twoich danych w formie pliku.
		</li>
	</ul>

	<h2>5. Jak wycofać zgodę?</h2>
	<p>
		Możesz w każdej chwili wycofać swoją zgodę (zapis na newsletter, przechowywanie CV u nas dłużej niż czas trwania
		rekrutacji) wysyłając żądanie na adres <strong>kontakt@thenextlevelenergy.pl</strong>. Jeżeli Twoje CV poleciało
		na aplikację, usuwamy je bezpośrednio z naszych zasobów i tabel!
	</p>
</LegalLayout>
